@media only screen and (max-width: 768px) {
   header{
    background-color:aqua ;
   }
    .logo,h1{
            font-size: 12px;
    }
    .nav-links {
        display: inline-block;
        flex-direction: column;
        position:absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(3, 174, 241);
        text-align: left;
    }

    .nav-links.show {
        display: inline-block;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 10px;
        overflow: hidden;
    }

    .search-bar input{
        font-size: 10px;
        size: 10px;
        border-radius: 20px;
    }

    .search-bar button{

        font-size: 10px;
        border-radius: 20px;
        color: white;
        background-color: #03e40f;
    }

    .featured-items {
        font-size: 10px;
        display: inline-block;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }
    
    .featured-items h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .item {
        size-adjust: 10px;
       display: inline-block;
       justify-content: center;
       margin: 5px 6px;
        margin-bottom: 30px;
    }
    
    .item img {
        max-width: 120px;
        max-height: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .item h3 {
        margin: 10px 0;
    }
    
    .item p {
        color: #777;
    }
    
    .item button {
        padding: 5px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }
    
    .item button:hover {
        background-color: #03e40f;
    }

}